*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
     background-image: url(BR-pt-20220329-popsignuptwoweeks-perspective_alpha_website_medium.jpg) ;
}

h1{
    color: #ffffff;
}

#logo{
    height: 110px;
    width: 200px;
    vertical-align: middle;
    margin-top: -15px;
    margin-left: 25px;
    margin-bottom: -20px;
}

#fblogo{
    width: 20px;
}

#divlogo{
    background-color: rgba(0, 0, 0, 0.6);
}

.container{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box{
    background-color: rgba(0, 0, 0, 0.7);
    width: 450px;
    height: 600px;
    border-radius: 5px;
}

.login{
    text-align: left;
    margin: 65px;
    color: #737373;
}

.input{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    background-color: #333333;
    border: none;
    border-radius: 3px;
    letter-spacing: normal;
    font-size: large;
}

#divlogin, #divajuda{
    margin-bottom: 20px;
    
}

#divtitulo{
   margin-bottom: 30px;
}

#diventrar{
    margin-bottom: 50px;
}

#diventrar a {
    text-decoration: none;
    color: #737373;
}

.botao{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #E50914;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: large;
    
}

.lembrar{
    margin-left: 67px;
}

#divajuda a {
    text-decoration: none;
    color: #737373;
}

#assine{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
}

#assine a { 
    color: #ffffff;
}

#divajuda p2 a {
    color: #0071EB;
    
}
p2 {
    font-size: 15px;
}